img{
  width: 50%;
  height: 30%;
}
ul{
  margin-top: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  background-color: red;
}
li{
  margin-right: 30px;
  font-size: 1.2em;
}
h1{
  font-size: 3em;
  margin-top: 20px;
  background-color: red;
  margin-bottom: 0;
}
h4{
  margin-bottom: auto;
  font-size: 2em;
}
.header p{
  font-size: 1.2em;
  margin: auto;
}
.text{
  margin: auto;
  height: 56.25vh;
  display: flex;
  align-items: center;
}
.text h4{
  margin: 0;
}
.text p{
  margin: 0;
}
.header img{

    float: right;
}
.right{
  clear: both;
}
